@import "tailwindcss";

:root{
  --primary: #6504b5;
  --secondary: #eaeabe;
  --accent: #dc749c;
  --text: #5b3e5a;
}

.text-primary {
  color: var(--text);
}
.hover\:text-primary:hover {
  color: var(--primary);
}
.bg-primary {
  background-color: oklch(43.57% 0.239 306.44);
}
.hover\:bg-primary-dark:hover {
  background-color: var(--accent);
}
.bg-header-extra {
  background-color: oklch(96.55% 0.035 302.15);
}
.border-divider {
  border-color: oklch(86.44% 0.014 282.22);
}

.border-primary {
  border-color: var(--primary)
}